@media screen and (min-width: 600px) {
  .content {
    grid-template-columns: 35% 65%;
  }

  .commentsContainer {
    margin-top: 50px;
  }

  .commentSubmit {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
  }

  .verdictForms {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .verdictForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-bottom: 5%;
  }

  .deleteForm {
    display: flex;
    flex-direction: row;
  }

  .requestDeleteButton {
    width: 50%;
    align-self: flex-end;
  }

  .commentButton {
    justify-self: flex-end;
  }

  .commentTextfield {
    min-width: 72%;
    max-width: 72%;
  }
  
}

@media screen and (max-width: 600px) {
  .verdictForms {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .verdictForm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .deleteForm {
    display: flex;
  }

  .requestDeleteButton {
    align-self: flex-end;
  }

  .commentSubmit {
    margin-top: 2%;
  }
}

.module {
  background-color: rgba(0, 0, 0, 0.507);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  box-sizing: border-box;
  display: grid;
  position: fixed;
}

.module:hover,
.closeButton:hover {
  cursor: pointer;
}

.content:hover {
  cursor: default;
}

.content {
  display: grid;
  background-color: white;
  height: 75%;
  max-height: calc(100% - 30px);
  width: 65%;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 1px 1px 16px -7px #000;
  align-self: center;
  justify-self: center;
  overflow-y: auto;
}

@media screen and (min-width: 800px) {
    .content {
        grid-template-columns: 35% 65%;
    }
}

.content p {
  margin: 0;
}

.comments {
  overflow-y: auto;
  max-height: 50%;
  min-height: 50%;
  border-style: solid;
  padding: 5px;
}

.commentButton {
  margin: 2% 0 5% 0;
}

textarea {
  resize: none;
}

.comment {
  margin-bottom: 5px;
  word-break: break-all;
  font-size: 0.8em;
}

.comment:hover {
  background-color: rgb(180, 180, 180);
  cursor: pointer;
}
