.requestCardUser {
  margin-bottom: 1vw;
  border-style: ridge;
  padding: 1vw;
  padding-right: 3vw;
  box-shadow: 0 0 20px -12px black;
  border-radius: 5%;
  width: max-content;
}

.userPictureContainer {
  overflow: hidden;
  height: 20vw;
  width: 20vw;
  display: inline-block;
}

.userPicture {
  border-radius: 5%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userPageContainer {
  padding: 1%;
}
