@value global: "./global.css";
@value btn-color from global;


@media (min-width: 200px) and (max-width: 460px) {
  .userCardDescription {
    margin-left: 10%;
  }

  .requestContent {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px;
    gap: 20px;
    grid-auto-rows: max-content;

  }
  
  .userContent {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (min-width: 460px) and (max-width: 768px) {
  .userContent {
    grid-template-columns: repeat(1, 1fr);
  }

  .userCardDescription {
    margin-left: 5%;
  }

  .requestContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    gap: 20px;
    grid-auto-rows: max-content;

  }
}

/*******************/
/***** Tablet *****/
/*******************/
@media (min-width: 768px) and (max-width: 1024px) {
  .userContent {
    grid-template-columns: repeat(2, 1fr);
  }

  .userCardDescription {
    margin-left: 5%;
  }

  .requestContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
    gap: 20px;
    grid-auto-rows: max-content;

  }
}

@media screen and (min-width: 1024px) {
  .userContent {
    grid-template-columns: repeat(3, 1fr);
  }

  .userCardDescription {
    margin-left: 2.5%;
  }

  .requestContent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    gap: 20px;
    grid-auto-rows: max-content;
    /* grid-column-gap: 2%; */
    /* column-gap: 2%; */
    /* grid-row-gap: 4%; */
    /* row-gap: 1%; */
  }
}

.indent {
  padding-left: 20px;
}

.userContent {
  display: grid;
  padding: 20px;
  column-gap: 2%;
  row-gap: 4%;
}

.cardBody {
  word-break: normal;
}

.cardContent {
  border-radius: 10px;
  padding: 4%;
  box-shadow: 0 0 20px -12px #408bc4;
  height: 100%;
  box-sizing: border-box;
  transition: .1s all;
}

.userCardContent {
  display: grid;
  grid-template-columns: 20% 80%;
  border-radius: 10px;
  padding: 4%;
  box-shadow: 0 0 20px -12px #408bc4;
  transition: .1s all;
}

.userCardContent:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.cardContent:hover {
  cursor: pointer;
  background-color: #f9f9f9;
}

.userCardImage {
  height: 4em;
  width: 4em;
  background-color: grey;
  overflow: hidden;
  border-radius: 20%;
  display: flex;
  justify-content: center;
}

.userCardImage img {
  min-width: 100%;
  object-fit: cover;
}

.navBarOuter {
  width: 100%;
  height: 6%;
}

.navbar {
  background-color: #314353;
  display: block;
  height: 100%;
  padding-left: 20px;
}

.navbarButton {
  background-color: #314353;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.navbarButton:hover {
  background-color: #3d8abb;
}

.nestedNavbar {
  width: auto;
  padding-top: 3px;
  margin-top: 20px;
  margin-left: 20px;
}

.nestedNavbar a:first-of-type {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.nestedNavbar a:last-of-type {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.button{
  margin-right:15px !important;
  background: btn-color;
}
.generalTab {
  column-gap: 20px;
  padding: 10px;
}

.generalTab > h1 {
  grid-area: title;
  margin-bottom: 5%;
}

.generalTab > p {
  grid-area: info;
  margin-bottom: 50px;
  max-width: 50%;
  min-width: 300px;
}

.generalTab > div:first-of-type, .generalTab > div:last-of-type {
  box-shadow: 0 0 20px -12px #408bc4;
  padding: 20px;
  margin-bottom: 5%;
}

