@value global: "./global.css";
@value box-shadow from global;

.module {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-areas:
        "helpInfo helpInfo"
        "calendarHeading calendarHeading"
        "calendarA calendarB"
        "calendarAdmin calendarAdmin";
    grid-template-rows: auto 50px 1fr auto;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

.calendarHeading {
    grid-area: calendarHeading;
    display: grid;
    grid-template-areas:
        "prev currentYearMonth todayBtn next";
    grid-template-columns: 70px 1fr auto 70px;
    background-color: white;
    box-shadow: box-shadow;
}

.calendarA {
    grid-area: calendarA;
}

.calendarB {
    grid-area: calendarB;
}

.calendarAdmin {
    grid-area: calendarAdmin;
    padding: 20px;
    width: 100%;
    display: inline-block;
    box-shadow: box-shadow;
    box-sizing: border-box;
    background-color: #ffffff;
}

.calendarAdmin > div {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 40px;
    grid-auto-flow: column;
}

.calendarAdmin > div > div {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-top:10px;
}

.calendarAdmin > div > div:hover {
    background-color: #f9f9f9;
}


.calendarAdmin > div > div p, .calendarAdmin > div > div button {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
}

.calendarAdmin > div > div p {
    border-color: #eee;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    border-radius: 5px 0 0 5px;
    height: 100%;
    padding-left: 15px;
}

.calendarAdmin > div > div button {
    border-color: #eee;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-radius: 0 5px 5px 0;
}

.calendarAdmin > div > div button:hover {
    cursor: pointer;
}

.prevBtn,
.nextBtn {
    background: transparent;
    border: none;
    transition: .1s all;
    background-color: #ffd804;
    color: #314353;
}

.prevBtn:hover,
.nextBtn:hover,
.todayBtn:hover {
    cursor: pointer;
    background-color: #314353;
    color: white;
    padding: 10px
}

.prevBtn:active,
.nextBtn:active,
.todayBtn:active {
    padding: 10px;
}

.todayBtn {
    background-color: transparent;
    border: none;
    grid-area: todayBtn;
    padding: 10px;
}

.prevBtn {
    grid-area: prev;
    border-radius: 5px 0 0 5px;
}

.nextBtn {
    grid-area: next;
    border-radius: 0 5px 5px 0;

}

.currentYearMonth {
    grid-area: currentYearMonth;
    align-self: center;
    color: #314353;
}

.currentYearMonth h2, .currentYearMonth span {
    margin: 0;
    text-align: center;
    display: block;
}

.calendar {
    display: grid;
    grid-template-areas:
        "monthName"
        "weekdays"
        "days";
    grid-template-rows: 50px 50px 1fr;
    width: 100%;
    /* height: 50vh; */
    background-color: white;
    border-radius: 5px;
    box-shadow: box-shadow;
}

.day {
    background-color: #314353;
    color: white;
    font-size: 13px;
    text-align: left;
    transition: .1s all;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 57px auto;
    align-content: end;
    border: 1px solid white;
    min-height: 90px;
    grid-auto-flow: dense;
}

.day:hover:not(.ineligible):not(.empty):not(.daySelect):not(.past) {
    background-color: #41596f;
    cursor: pointer;
}

.daySelect:hover {
    cursor: pointer;
}

.weekend {
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 100%, 0.2);
    position: absolute;
    pointer-events: none;
}


.empty {
    background-color: transparent;
    border: none;
}

.empty:hover {
    background-color: inherit;
}

.weekdays,
.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.weekdays {
    grid-area: weekdays;
    grid-template-rows: 50px;
    border-top: 1px solid #dfe2e3;
}

.weekdays span {
    align-self: center;
    padding: 2px 5px;
    text-align: center;
    font-size: 16px;
    color: #598995;
}

.days {
    grid-area: days;
    grid-template-rows: repeat(6, 1fr);
}

.monthName {
    grid-area: monthName;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    align-self: center;
    color: #598995;
}

.daySelect {
    background-color: #428cca;
    box-sizing: border-box;
}

.dayContainer {
    height: 100%;
    width: 100%;
    position: relative;
}

.today .dayBase {
    color: white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background-color: #ff6c6c;
    display: grid;
}

.today .dayBase span {
    justify-self: center;
    align-self: center;
    line-height: 30px;
    position: relative;
    top: -2px;
    left: -1px;
}

.dayBase {
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    height: 20px;
    width: 20px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    user-select: none;
}

.past .mark {
    filter: saturate(.1);
}

.mark {
    height: 15px;
    display: inline-block;
    background-color: #37eba8;
    align-self: end;
    margin: 1px 1px;
    font-size: 10px;
    padding: 1px 4px;
    color:
    black;
    width: max-content;
    border-radius: 3px;
    text-decoration: none;
    transition: .1s all;
}

.mark:hover {
    background-color: orange;
    cursor: pointer;
}

.approved {
    background-color: #37eba8;
}

.denied {
    background-color: #fa7260;
}

.pending {
    background-color: #fae153;
}

.ineligible {
    background-color: #999;
    cursor: default;
    color: #7b7b7b;
    background: repeating-linear-gradient( 45deg, #bc6060, #bc6060 10px, #984646 10px, #984646 20px );
}

.past.ineligible {
    filter: saturate(0);
}

.ineligibleMessage {
    align-self: center;
    justify-self: center;
    color: #bdbdbd;
    position: absolute;
}

.past {
    background-color: #d9d9d9;
}

.action {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 24px;
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    color: #68a3d5;
    box-shadow: 3px 3px 12px -4px black;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: grid;
    align-content: center;
    justify-content: center;
    transition: .1s all;
    overflow: hidden;
}

.action:hover {
    cursor: pointer;
    background-color: #68a3d5;
    color: white;
    box-shadow: 2px 2px 12px -6px black;
}

.action:hover svg {
    animation-name: grow;
    animation-duration: .4s;
}

.helpInfo {
    grid-area: helpInfo;
}


@keyframes grow {
    from {
        transform: translateY(-100px)
    }   

    to {
        transform: translateY(0);
    }
}


@media (max-width: 1215px) {
    .mark {
        margin: 0;
        font-size: 10px;
        padding: 2px 3px;
    }

    .dayBase {
        font-size: 14px;
    }
}

@media (max-width: 1070px) {
    .module {
        grid-template-areas:
            "helpInfo"
            "calendarHeading"
            "calendarA"
            "calendarB"
            "calendarAdmin";
        grid-template-rows: max-content 50px  1fr 1fr max-content;
        grid-template-columns: 1fr;
    }
}
@media (max-width: 700px){
    .calendarHeading {
        grid-area: calendarHeading;
        display: grid;
        grid-template-areas:
            "prev currentYearMonth todayBtn next";
        grid-template-columns: 70px 1fr auto 70px;
        background-color: white;
        box-shadow: box-shadow;
        font-size: x-small
    }
}