@value global: "./global.css";
@value btn-color from global;
@value third-text-color from global;
@value disabled-btn-bg-color from global;


/*-----------------------------
 * Input Fields
 *-----------------------------*/

.input {
    display: block;
    width: 100%;
    margin: auto;
    height: 35px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #c1c1c1;
    transition: all .3s;
}

.input:focus, .input:active {
    outline: none;
    border-bottom: 2px solid #428cca;
}


/*-----------------------------
 * Textarea
 *-----------------------------*/

.textarea {
    border: 1px solid gray;
    font-family: inherit;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 19px;
    width: 100%;
    box-sizing: border-box;
}

.textarea:active, .textarea:focus {
    border: 1px solid #408bc4;
}

/*-----------------------------
 * Labels
 *-----------------------------*/

 .label {
     display: block;
     font-size: 12px;
     margin-top:25px;
 }

/*-----------------------------
 * Buttons
 *-----------------------------*/

.button {
    height: 45px;
    border-radius: 25px;
    margin: 20px 0;
    width: 100%;
    background: btn-color;
    color: third-text-color;
    border:none;
    transition: .1s all;
}
.buttonpa {
    height: 45px;
    border-radius: 25px;
    /*margin: 20px 0;*/
    margin: 30px;
    width: 25%;
    background: btn-color;
    color: third-text-color;
    border:none;
    transition: .1s all;
}
.button:hover {
    cursor: pointer;
    /*background: linear-gradient(151deg, rgb(39, 112, 106) 0%, rgb(65, 126, 177) 100%);*/
}

.button:focus {
    outline:0;
}

.button:disabled,
.button[disabled]{
  border: 1px solid #999999;
  background: disabled-btn-bg-color;
  color: lightgrey;
  cursor: default;
}
.buttonplacement {
    text-align: center;
}

/*-----------------------------
 * Dropdown
 *-----------------------------*/

.dropdown {
    margin: 0px;
    padding: 0px;
}

.dropdown a {
    text-align: center !important;
    text-decoration: none;
    width: 100%;
    display: block;
    margin: 0px;
    padding: 10px;
    box-sizing: border-box;
    
}

.dropdown a:hover {
    background-color: #4288c5;
}
