@value global: "./global.css";
@value btn-color from global;

.module {
  background: btn-color;
  color: white;
  width: 100%;
}

.module a {
  color: white;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
}

.module a:hover {
  cursor: pointer;
  background-color: linear-gradient(151deg, rgba(114,129,127,1) 0%, rgba(114,121,126,1) 100%);;
}
