@value global: "./global.css";
@value btn-color from global;



/* Main Navbar module */
.module {
  background-color: #3A84B5 !important;
}

.module a {
  color: #fff;
  margin: 0px;
  padding: 5px;
  text-decoration: none !important;
}

.activeLinks {
  color: #fff;
  text-shadow: -1px 1px 10px rgb(44, 202, 168), 
  -1px 1px 10px rgb(44, 202, 168),
  -1px 1px 10px rgb(44, 202, 168);
}

.titleTest {
  text-align: center;
}

.menuBtn {
  font-size: 20px !important;
  cursor:pointer;
  color: #fff !important;
}

