@value global: "./global.css";
@value btn-color from global;

.module {
  background: btn-color;
  color: white;
  width: 100%;
}

.module a {
  color: white;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  transition: .1s all;
}

.module a:hover {
  cursor: pointer;
  background-color: #273642;
}

.logo {
  color: #2b8382 !important;
  font-weight: bold;
  background-color: white !important;
}

.logo svg {
  padding-right: 5px;
}