@value global: "./global.css";
@value box-shadow from global;
.module {
    padding: 20px;
    width: 100%;
    display: inline-block;
    box-shadow: box-shadow;
    position: relative;
    box-sizing: border-box;
    justify-self: end;
    background-color: #ffffff;
}

.closeButton {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 5px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.closeButton:hover {
    cursor: pointer;
}

.contentContainer {
    display: grid;
    grid-template-areas: "boxIcon cont";
    grid-template-columns: 200px 1fr;
}

.boxIcon {
    grid-area: boxIcon;
    font-size: 15px;
    color: rgb(170, 170, 170);
    align-self: center;
    justify-self: center;
    margin-right: 20px;
}

.content {
    grid-area: cont;
}

.collapseHelp {
    width: 15px;
}