@value global: "./global.css";
@value bg-color from global;
@value btn-color from global;
@value secondare-text-color from global;
@value third-text-color from global;
@value bg-h1-color from global;
@value error-text-bg-color from global;
@value box-shadow from global;

#login_wrapper{
    width: 70%;
    max-width: 380px;
    margin: auto;
    position: relative;
    top: 42%;
    transform: translateY(-50%);
    background-color: bg-color;
    border-radius: 5px;
    padding:15px;
    overflow:hidden;
    box-shadow: box-shadow;
}

#login_wrapper h1:first-child{
    text-align: center;
    margin-top: -15px;
    width: calc(100% + 30px);
    margin-left: -15px;
    font-size: 22px;
    padding: 20px 0;
    background: #3A84B5;
    color: white;
    font-weight: normal;
}

#forgot_password{
    margin-top: 15px;
    display: block;
    width: fit-content;
    color: secondare-text-color;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8em;
    margin-left:5px;
    background-color: transparent;
    border: none;
}

#forgot_password:active{
    color: black;
}

#forgot_password:focus {
    outline:0;
}

#login_wrapper p{
    margin:15px 0px 5px 10px;
}

#errorMessage{
    height:5px;
    margin:0px;
    padding:0px;
    color: error-text-bg-color;
    position: relative;
    margin-top: 15px;
}

#popOver{
    margin-top: 5px;
    width: calc(100% - 51px);
}