@value global: "./global.css";
@value bg-color from global;
@value btn-color from global;
@value secondare-text-color from global;
@value third-text-color from global;
@value bg-h1-color from global;
@value error-text-bg-color from global;

#login_wrapper{
    width: 70%;
    max-width: 380px;
    margin: auto;
    position: relative;
    top: 42%;
    transform: translateY(-50%);
    background-color: bg-color;
    border-radius: 15px;
    padding:15px;
}

/* #login_wrapper input{
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 15px;
    height: 30px;
    text-indent: 10px;
} */

#login_wrapper h1:first-child{
    text-align: center;
    margin-top: -15px;
    background-color: bg-h1-color;
    width: calc(100% + 30px);
    margin-left:-15px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 20px;
    padding: 20px 0;
}

#forgot_password{
    margin-top: 15px;
    display: block;
    width: fit-content;
    color: secondare-text-color;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8em;
    margin-left:5px;
    background-color: transparent;
    border: none;
}

#forgot_password:active{
    color: black;
}

#forgot_password:focus {
    outline:0;
}

#login_wrapper p{
    margin:15px 0px 5px 10px;
}

.submit_login{
    height: 45px;
    border-radius: 15px;
    margin-top: 30px;
    width: 100%;
    background-color: btn-color;
    color:third-text-color;
}

#errorMessage{
    height:5px;
    margin:0px;
    padding:0px;
    color: error-text-bg-color;
}

#popOver{
    margin-top: 5px;
    width: calc(100% - 51px);
}