@value global: "./global.css";
@value modal-bg-color from global;

.module {
    background-color: modal-bg-color;
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top:0;
    left:0;
    box-sizing: border-box;
    display: grid;
    animation-name: fadeIn;
    animation-duration: .4s;
    z-index: 100;
}

.module:hover, .closeButton:hover {
    cursor: pointer;
}

.content:hover {
    cursor:default;
}

.content {
    background-color: white;
    width: 38%;
    position: relative;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 1px 1px 16px -7px #000;
    overflow-y: auto;
    align-self: center;
    justify-self: center;
    animation-name: slideDown;
    animation-duration: .25s;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.1);
    min-width: 350px;
    min-height: 400px;
    max-height: 100vh;
    overflow:hidden;
    overflow-y: auto;
}

.content p {
    margin: 0;
}

.closeButton {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .1s all;
}

.closeButton:hover {
    background-color: hsla(0, 0%, 0%, 0.2);
}

.header {
    background: #3A84B5;
    height: 50px;
    margin: -20px -20px 20px -20px;
    color: white;
}

.header h2 {
    margin: 0;
    padding: 10px 20px;
    font-weight: normal;
}


@keyframes slideDown {
    from {transform: translateY(-100vh)}
    to {transform: translateY(0)}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 100;}
}

@media (max-width: 1215px) {
    .content {
        width: 48%;
    }
}