.module {
    display: grid;
    grid-template-areas: "request comments";
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

.request {
    grid-area: request;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
}

.request h2, .comments h2 {
    margin-top: 0;
}

.request p {
    align-self: start;
    margin:0;
}

.comments {
  overflow-y: scroll;
  min-height: 10vh;
  max-height: 25vh;
  border-style: solid;
  padding: 5px;
}  

.comment {
  margin-bottom: 5px;
  word-break: break-all;
  font-size: 0.8em;
}

.status {
    padding: 4px;
    border-radius: 5px;
    font-size: 12px;
}

.approved {
    background-color: #37eba8;
}

.denied {
    background-color: #fa7260;
}

.pending {
    background-color: #fae153;
}

.img {
    max-width: 100%;
}

.dates {
    display: grid;
    grid-template-rows: repeat(10, minmax(min-content, auto));
    grid-auto-flow: column;
}

.dates > div {
    font-size: 12px;
    padding: 4px 20px;
    border-radius: 5px;
    background-color:
    #314353;
    color:
    white;
    width: max-content;
    display: inline-block;
    margin: 2px;
}

@media (max-width: 1215px) {
    .module {
        grid-template-areas: "request" "comments";
        grid-template-columns: 1fr ;
    }

    .dates {
        grid-template-rows: repeat(5, minmax(min-content, auto));
    }
    
}