

/********************/
/***** Desktop ******/
/********************/
.sidebarContainer {
    height: 100vh;
}

.overviewContainer {
    height: 100vh;
}


/*******************/
/***** Mobile ******/
/*******************/
@media (min-width: 360px) and (max-width: 600px) {
    .sidebarContainer {
        height: auto;
    }

    .overviewContainer {
        height: auto;
        padding-top: 20px;
    }
}


/*******************/
/***** Tablet *****/
/*******************/
@media (min-width: 768px) and (max-width: 1024px) {
    
}