

/*******************/
/***** Sidebar *****/
/*******************/
.SideBarWrapper{
    height: 100vh;
    padding: 5%;
    background-color: #fff;
    box-shadow: 1px 1px 5px -3px #000;
}

.SideBarWrapper h1 {
    text-align:center;
}
.SideBarWrapper h3 {
    text-align:center;
    font-weight: lighter;
}


/*******************/
/***** IMAGE *****/
/*******************/
.imageWrapper{
    display: flex;
    justify-content: center;
    position: relative;
    height: 22vw;
    width: 22vw;

    max-width: 200px;
    max-height: 200px;
    min-width: 180px;
    min-height: 180px;
    
    margin-left: 25px;
    margin-right: 25px;
    margin-top:25px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    margin:auto;
}

.imageWrapper .selectNewImage{
    opacity: 0;
    position: absolute;   
    width: 100%;
    height: 100%;
}

.imageWrapper .selectNewImage:hover{
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
}

.selectNewImage div{
    position: relative;
    width: 50%;
    display: inline-block;
    text-align: center;
    height:100%;
    cursor:pointer;
}

.selectNewImage div p{
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selectNewImage div:nth-child(1):hover, .selectNewImage div:nth-child(2):hover{
    background-color:rgba(0,0,0,0.5);
}



/*****************/
/***** VIDEO *****/
/*****************/
video{
    height: 100%;
    width:auto !important;
}

.screenshotButton{
    bottom: 25px;
    position: relative;
}


/*************************/
/***** Modal Buttons *****/
/*************************/
.modalBtnContainer {
    margin-top: 20%;
}

.modalButtons {
    background-color: #3A84B5;
    border: 0px;
    border-radius: 30px;
    height: 40px;
    width: 100%;
    color: #fff;
}




/********************/
/***** Mobile ******/
/********************/
@media (min-width: 360px) and (max-width: 600px) {

    .SideBarWrapper{
        height: auto;
        width: auto;
        padding: 5%;
        background-color: #fff;
        box-shadow: 1px 1px 5px -3px #000;
    }

    .modalBtnContainer {
        margin-top: 30%;
    }
    
    .modalButtons {
        background-color: #3A84B5;
        border: 0px;
        border-radius: 30px;
        height: 40px;
        width: 100%;
        color: #fff;
    }
    
}

/********************/
/***** Tablet ******/
/********************/
@media (min-width: 768px) and (max-width: 1024px) {
    
    .SideBarWrapper{
        height: 100vh;
        width: auto;
        padding: 5%;
        background-color: red;
        box-shadow: 1px 1px 10px -3px;
    }

    .modalBtnContainer {
        margin-top: 30%;
    }
    
    .modalButtons {
        background-color: #3A84B5;
        border: 0px;
        border-radius: 30px;
        height: 40px;
        width: 100%;
        color: #fff;
    }
}

/********************/
/***** Tablet ******/
/********************/
@media (min-width: 1024px) and (max-width: 1424px) {
    
    .SideBarWrapper{
        height: 100vh;
        width: max-content;
        padding: 5%;
        background-color: #fff;
        box-shadow: 1px 1px 10px -3px;
    }

    .modalBtnContainer {
        margin-top: 30%;
    }
    
    .modalButtons {
        background-color: #3A84B5;
        border: 0px;
        border-radius: 30px;
        height: 40px;
        width: 100%;
        color: #fff;
    }
}