@value global: "../global.css";
@value grey-text-color from global;

/*******************/
/***** OVERALL *****/
/*******************/
.SideBarWrapper{
    margin:15px;
    position: relative;
}

.SideBarWrapper h1, .SideBarWrapper h3{
    text-align:center;
}

.text > p {
    display: inline;
    position: absolute;
    right:15px;
    bottom:22px;
    font-style: italic;
    color: third-text-color;
}

.SideBarWrapper > form > h3{
    color: grey-text-color;
    margin-top:-10px;
    font-weight: normal;
}

/*******************/
/***** IMAGE *****/
/*******************/
.imageWrapper{
    display: flex;
    justify-content: center;
    position: relative;
    height: 22vw;
    width: 22vw;

    max-width: 325px;
    max-height: 325px;
    min-width: 175px;
    min-height: 175px;
    
    margin-left: 25px;
    margin-right: 25px;
    margin-top:25px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    margin:auto;
}

.SideBarWrapper img{
    display: block;
    width: auto;
    height: 100%;
    margin:auto;
}

.imageWrapper .selectNewImage{
    opacity: 0;
    position: absolute;   
    width: 100%;
    height: 100%;
}

.imageWrapper .selectNewImage:hover{
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
}

.selectNewImage div{
    position: relative;
    width: 50%;
    display: inline-block;
    text-align: center;
    height:100%;
    cursor:pointer;
}

.selectNewImage div p{
    top: 50%;
    transform: translateY(-50%);
    color: white;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.selectNewImage div:nth-child(1):hover, .selectNewImage div:nth-child(2):hover{
    background-color:rgba(0,0,0,0.5);
}

/*******************/
/***** INPUT *****/
/*******************/
.SideBarWrapper input{
    display: block;
    width:100%;
}

/*****************/
/***** VIDEO *****/
/*****************/
video{
    height: 100%;
    width:100%;
}

.screenshotButton{
    bottom: 25px;
    position: relative;
}

/******************/
/***** BUTTON *****/
/******************/
.buttonTweaks{
    position: absolute;
    width: calc(100% - 45px);
    bottom: 0;
}

.buttonTweaks_webcam{
    position: absolute;
    width: calc(100% - 75px);
    bottom: 35px;
    margin: auto;
    left: 0;
    right: 0;
}


