@value global: "../global.css";
@value box-shadow from global;
<<<<<<< HEAD
=======
@value btn-color from global;
@value third-text-color from global;
@value disabled-btn-bg-color from global;
>>>>>>> 1546fe8dc6a1347c76b397e36539b1b8257ea998

.wrapper{
    padding: 15px;
}

.wrapper ul li{
    list-style-type: none;
    font-size: 12px;
    padding: 8px;
    border-radius: 5px;
    background-color: #314353;
    color: white;
    display: inline-block;
    margin: 5px;
}

.wrapper > div{
    padding:25px;
    box-shadow: box-shadow;
    margin-top:15px;
<<<<<<< HEAD
=======
}

.collapseButton {
    color: black !important;
    text-transform: none !important; 
    font-weight: normal !important
}

.collapseButton:hover {
    cursor: pointer;
    background: white !important;
>>>>>>> 1546fe8dc6a1347c76b397e36539b1b8257ea998
}