body {
  background-color: #f2f2f2;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Source Sans Pro', 'PT Serif', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

element {
  --bg-color1: #F5F5F5;
}

.fade-enter {
  opacity: 0.7;
  transform: translateY(-10px);
  transition: all .3s ease-in;
}

.fade-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transform: translateY(0);
  transition: all .3s ease-in;
}

.fade-exit-active {
  opacity: 0.7;
  transform: translateY(-10px);
}

.fade-appear {
  opacity: 0.7;
  transform: translateY(-10px);
}

.fade-appear-active {
  opacity: 1;
  transform: translateY(0);
  transition: all .3s ease-in;
}